@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --primary: #65c2e7;
  --secondary: #ebf6f8;
}

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #c42323,
    #d32f77,
    #b561be,
    #748be7,
    #12a9eb
  );
  color: white;
  padding: 10px 20px 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
img {
  width: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}
button:focus {
  outline: 0;
}

.container h2 {
  margin-top: 30px;
  font-size: 2.5em;
  letter-spacing: 2px;
}

.line {
  width: 10%;
  height: 4px;
  border-radius: 10px;
  background: var(--primary);
  margin: auto;
  margin-bottom: 50px;
}

.card {
  max-width: 600px;
  margin: auto;
  background: white;
  color: black;
  overflow: hidden;
  padding: 8px 35px;
}

.avatar {
  width: 140px;
  height: 140px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  z-index: 0;
}
.avatar img {
  border-radius: 50%;
}
.avatar::before {
  content: "";
  background: var(--primary);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  top: -4px;
  right: -10px;
  z-index: -1;
}
.avatar::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  background: var(--primary);
  width: 35%;
  height: 35%;
  position: absolute;
  border-radius: 50%;
  left: -8px;
  top: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  margin-top: 30px;
}

.details h3 {
  font-size: 1.25em;
  letter-spacing: 2px;
}

.details span {
  font-size: 0.9em;
  text-transform: uppercase;
}
.details p {
  margin-top: 20px;
  font-size: 1em;
  word-spacing: 2px;
  line-height: 1.4;
  color: #666;
  font-weight: 400;
  letter-spacing: 1px;
}
.buttons {
  margin: 15px 0;
  color: var(--primary);
}
i:first-child {
  margin-right: 25px;
  cursor: pointer;
}

i {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  color: var(--primary);
  font-size: 1.2em;
  border: 0;
  background: var(--secondary);
  border-radius: 10px;
  margin: 10px 0 20px 0;
  transition: all 0.5s ease-out;
}
button:hover {
  transform: scale(1.1) translateY(-3px);
  background: #9ef8f8;
  color: black;
}
@media (max-width: 600px) {
  .container h2 {
    margin-top: 10px;
    font-size: 2em;
  }
  .avatar {
    width: 120px;
    height: 120px;
    margin-top: 20px;
  }
  .avatar::after {
    width: 32%;
    height: 32%;
  }
  .line {
    width: 30%;
    margin-bottom: 30px;
  }
  .details h3 {
    font-size: 1.1em;
  }
  .details span {
    font-size: 0.85em;
  }
  .details p {
    margin-top: 15px;
    font-size: 1em;
    word-spacing: 1px;
    line-height: 1.2;
  }
  button {
    padding: 8px 16px;
    color: var(--primary);
    font-size: 1.1em;
  }
  i {
    transform: scale(0.9);
  }
}
